[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"
e1839a8 = {editable = true,path = "."}
unicode = "*"
steam-stats = {editable = true,path = "."}
tqdm = "*"

[requires]
python_version = "3.8"
